body {
	margin: 0;
	background-color: beige;
}

#falling-container {
	height: 80px;
}

.big-container {
	text-align: center;
}

.bag-container {
	text-align: center;
}

.bag {
	display: inline-block;
	width: 100px;
	height: 100px;
	margin: 20px;
	background-color: brown;
}

.bag img {
	width: 100%;
	height: 100%;
}

.choice-container {
	display: inline-block;
	background-color: blueviolet;
}
